button{
    
    border: none;
    padding: .90em;
    background-color: #2196F3 ;
    color: #fff;
    
   
    text-transform: uppercase;
    box-shadow: -3px 5px darken(skyblue);
    cursor: pointer;
}

input[type=radio]{
    display: block !important;
    opacity: 1 !important;
    width: 15px !important;
    height: 15px !important;
    position: relative !important;
    margin-right: 5px;
}
.sort-inputs{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.sort-label{
    font-size: 17px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 10px;
}

.warning {
    padding: 25px;
    text-align: center;
    background: #ec8383;
    color: white;
    font-size: 20px;
    border-style: double;
    border-width: 4px;
}

.search {
    display: flex;
}

.post{
    padding: 10px;
}

.nav-wrapper{
    height: min-content;
}
.nav-container{
    overflow: hidden;
}